<form id="myForm" action="/testhref" method="post" class="ui form">
    <div class=field"><label for="Nom">Nom</label>
        <textarea name="Nom" id="Nom"></textarea>    <label for="Prenom">Prenom</label>
        <textarea name="Prenom" id="Prenom"></textarea>    <label for="Age">Age</label>
        <textarea name="Age" id="Age"></textarea>    <label for="Password">Password</label>
        <textarea name="Password" id="Password"></textarea>    <label for="Email">Email</label>
        <textarea name="Email" id="Email"></textarea>    <label for="adresse">adresse</label>
        <textarea name="adresse" id="adresse"></textarea></div><button type="submit" class="ui blue labeled submit icon button">
    <i class="icon edit"></i> Envoyer</button></form>